<div id="cart-preview-dropdown">
    <div class="cart-preview-inner">
        {{> components/common/cart-preview}}
    </div>
</div>
{{#if theme_settings.halo_top_page_promotion}} 
    {{> components/halothemes/top-page-promotion}} 
{{/if}}
<header class="header" role="banner">
    <div class="header-top">        
        <div id="st-trigger-effects" class="hidden-desktop">
                <a class="mobileMenu-toggle" data-effect="st-effect-1" href="#" data-mobile-menu-toggle="mobile-categories" aria-label="Button Menu Toggle">
                    <div class="hamburger-menu"></div>
                </a>
            </div>
        <div class="header-left">
            {{> components/common/navigation}}
        </div>
        <div class="header-right">
            <div class="right-bottom">
                <a class="search-toggle" aria-label="Search Toggle">
                    <svg aria-label="{{lang 'common.close'}}">
                        <use xlink:href="#icon-close"></use>
                    </svg>
                    <svg aria-label="Icon Search">
                        <use xlink:href="#icon-search"></use>
                    </svg>
                </a>
                
                {{#if settings.gift_certificates_enabled}}
                <div class="gift_certificates-link hidden-mobile">
                    <a href="{{urls.gift_certificate.purchase}}"><span>{{lang 'common.gift_cert'}}</span></a>
                </div>
                {{/if}} {{#if settings.show_wishlist}}
                <div class="wishlist-link hidden-mobile">
                    <a href="{{urls.account.wishlists.all}}"><span>{{lang 'account.wishlists.heading'}}</span></a>
                </div>
                {{/if}}
                <div id="top-cart" class="top-cart">
                    <a data-cart-preview href="javascript:void(0);" aria-label="Your Cart">
                        <span class="hidden-mobile">{{lang 'common.cart'}}</span><i class="icon-cart"><svg aria-hidden="true"><use xlink:href="#my-cart-icon"></use></svg></i><span class="countPill{{#if cart.items}} countPill--positive{{/if}} cart-quantity">{{cart.quantity}}</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="header-center">
            <p>{{theme_settings.header_center_text}} <a href="{{theme_settings.header_center_link}}" title="All Collections">{{theme_settings.header_center_button}}</a></p>
        </div>
    </div>
    <div class="header-bottom">
        {{#if page_type '===' 'default'}}
        <h1 class="header-logo">
        {{> components/common/store-logo}}
        </h1> {{else}}
        <div class="header-logo">
            {{> components/common/store-logo}}
        </div>
        {{/if}}
    </div>
    <div class="quickSearch">
        {{> components/common/quick-search}}
    </div>
    <div class="navPages-container" id="menu" data-menu>
        <div class="sticky-logo">
            <a href="{{urls.home}}" aria-label="{{settings.store_logo.title}}">
                <img class="stick-logo-image lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.logo_scroll}}" alt="{{settings.store_logo.title}}" title="{{settings.store_logo.title}}">
            </a>
        </div>
        <div class="container">
            {{> components/common/navigation-menu}}
        </div>
    </div>
</header>
{{#if theme_settings.bigcommerce_banners }} {{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}} {{/if}}
{{{region name="header_bottom"}}}
