<div class="footer-payment-icons">
    {{#if theme_settings.show_accept_paypal}}
        <span class="ips icon-card-paypal"></span>
    {{/if}}
    {{#if theme_settings.show_accept_visa}}
        <span class="ips icon-card-visa"></span>
    {{/if}}
    {{#if theme_settings.show_accept_mastercard}}
        <span class="ips icon-card-mastercard"></span>
    {{/if}}
    {{#if theme_settings.show_accept_amex}}
        <span class="ips icon-card-amex-square"></span>
    {{/if}}
    {{#if theme_settings.show_accept_discover}}
        <span class="ips icon-card-discover"></span>
    {{/if}}
    {{#if theme_settings.show_accept_maestro}}
        <span class="ips icon-card-maestro"></span>
    {{/if}}
    {{#if theme_settings.show_accept_google_wallet}}
        <span class="ips icon-card-google-wallet"></span>
    {{/if}}
</div>
