<div class="form-field" data-product-attribute="input-checkbox">
    <input type="hidden" name="attribute[{{id}}]" value="{{noValue}}" />
    <input
        class="form-checkbox"
        type="checkbox"
        name="attribute[{{id}}]"
        id="ed_attribute-check-{{id}}"
        value="{{value}}"
        {{#if checked}}
            checked
            data-default
        {{/if}}
        {{#if required}}required{{/if}}>

    <label class="form-label {{class}}" for="fbt_attribute-check-{{id}}">{{label}}</label>
</div>
