{{#if theme_settings.enable_before_you_leave}}
	<section id="before-you-leave" class="before-you-leave side_popup" data-time="{{theme_settings.before-you-leave-time}}">
        <div class="before-you-leave-inner">
			<div class="themevale_close">
	            <a href="javascript:void(0)" class="close">&times;</a>
	        </div>
			{{#if theme_settings.before-you-leave-logo '!=' ''}}
			<div class="logo">
				<a href="/">
	                <img class="lazyload" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.before-you-leave-logo}}" alt="{{settings.store_logo.title}}" title="{{settings.store_logo.title}}">
	            </a>
			</div>
			{{/if}}

			{{#if theme_settings.before-you-leave-banner-img '!=' ''}}
				<div class="before-you-leave-banner">
					<div style="background-color: #E93556;" class="banner-inner">
						<!-- <a class="image-wrapper" href="{{theme_settings.before-you-leave-banner-link}}" title="{{theme_settings.before-you-leave-banner-title}}">
							<img class="lazyload" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.before-you-leave-banner-img}}" alt="">
						</a> -->
						<div class="content text-center">
							<div class="content-inner">
								{{#if theme_settings.before-you-leave-banner-title '!=' ''}}
									<h3 class="title">{{theme_settings.before-you-leave-banner-title}}</h3>
								{{/if}}
								{{#if theme_settings.before-you-leave-banner-text-under-title '!=' ''}}
									<p class="desc1">{{theme_settings.before-you-leave-banner-text-under-title}}</p>
								{{/if}}
								{{#if theme_settings.before-you-leave-banner-heading-1 '!=' ''}}
									<h3 class="heading1"><span>{{theme_settings.before-you-leave-banner-heading-1}}</span></h3>
								{{/if}}
								{{#if theme_settings.before-you-leave-banner-text-under-heading-1 '!=' ''}}
									<p class="desc2">
										{{theme_settings.before-you-leave-banner-text-under-heading-1}}
										{{theme_settings.before-you-leave-banner-text-under-heading-2}}
									</p>
								{{/if}}
								{{#if theme_settings.before-you-leave-banner-heading-2 '!=' ''}}
									<h3 class="heading2"><span>{{theme_settings.before-you-leave-banner-heading-2}}</span></h3>
								{{/if}}
							</div>
							{{#if theme_settings.before-you-leave-banner-btn-text '!=' ''}}
								<a class="button btn btn-primary" href="javascript:void(0)" title="{{theme_settings.before-you-leave-banner-btn-text}}">
									<span>{{theme_settings.before-you-leave-banner-btn-text}}</span>
								</a>
								{{/if}}
						</div>
					</div>
				</div>
			{{/if}}

			<div class="before-you-leave-tab">
				<div class="tabs-wrapper">
					<ul class="tabs" data-tab>
			            {{#if theme_settings.enable-before-you-leave-recommended}}
			                <li class="tab is-active recommended" data-id="recommended">
			                    <a class="tab-title" href="#tab-recommended">Recommended <span class="count"></span></a>
			                </li>
			            {{/if}}
			            {{#if theme_settings.enable-before-you-leave-history}}
			                <li class="tab history{{#if theme_settings.enable-before-you-leave-recommended '==' false}}is-active{{/if}}" data-id="history"><a class="tab-title" href="#tab-history">History <span class="count"></span></a></li>
			            {{/if}}
			        </ul>
			        <div class="search">
		            	<a class="search-icon" aria-label="Search Items">
                            <svg class="icon" aria-hidden="true"><use xlink:href="#icon-search"></use></svg>
                        </a>
		            </div>
				</div>
		        <div class="tabs-contents themevale_tabs-contents">
		            {{#if theme_settings.enable-before-you-leave-recommended}}
		                <div class="tab-content is-active" id="tab-recommended">
		                	<div class="productGrid{{#if theme_settings.show_brand_product_gallery}} show-brand{{/if}}">
            				</div>
		              </div>
		            {{/if}}

		            {{#if theme_settings.enable-before-you-leave-history}}
		                <div class="tab-content{{#if theme_settings.enable-before-you-leave-recommended '==' false}} is-active{{/if}}" id="tab-history">
		                	<div class="productGrid" id="history-products-list">
				                <div class="no-products text-center" style="flex-direction: column;display:none;">
				                    <svg class="icon"><use xlink:href="#icon-nopicture"/></svg>
				                     <span class="text">Sorry, there are no products.</span>
				                </div>
				            </div>
				            <div id="history-products-list-tmp" style="display: none !important;">
				            </div> 
		                </div>
		            {{/if}}
		        </div>
			</div>
		</div>
	</section>
{{/if}}
