<div class="storeLocation">
   <h3><span>{{theme_settings.contact_store_location_title}}</span></h3>
   <p>{{theme_settings.contact_store_location_content_1}} <br>{{theme_settings.contact_store_location_content_2}}{{theme_settings.contact_store_location_content_2_1}}</p>
   <div class="store-address">{{nl2br settings.address}}</div>
   <div class="store-email">Email: <a href="mailto:{{theme_settings.contact_store_location_email}}">{{theme_settings.contact_store_location_email}}</a></div>
   <div class="store-phone">Toll-free: <a href="tel:{{settings.phone_number}}">{{settings.phone_number}}</a></div>
  
   <strong>{{theme_settings.contact_store_location_open_title}}</strong>
   <div class="item1">{{theme_settings.contact_store_location_open_hours_1}}</div>
   <div class="item2">{{theme_settings.contact_store_location_open_hours_2}}</div>
</div>
