<div class="form-field" data-product-attribute="swatch">
    {{#each (limit this.values 4)}}
        <label class="form-option form-option-swatch" data-product-swatch-value="{{id}}">
            {{#if image}}
                <span class='form-option-variant form-option-variant--pattern' title="{{this.label}}" style="background-image: url('{{getImage image "24x24"}}');"></span>
            {{/if}}
            {{#if data.[2]}}
                <span class='form-option-variant form-option-variant--color form-option-variant--color2' title="{{this.label}}">
                    <span style="background-color: #{{data.[0]}}"></span>
                    <span style="background-color: #{{data.[1]}}"></span>
                    <span style="background-color: #{{data.[2]}}"></span>
                </span>
            {{else}}
                {{#if data.[1]}}
                    <span class='form-option-variant form-option-variant--color form-option-variant--color2' title="{{this.label}}">
                        <span style="background-color: #{{data.[0]}}"></span>
                        <span style="background-color: #{{data.[1]}}"></span>
                    </span>
                {{else}}
                    {{#if data.[0]}}
                        <span class='form-option-variant form-option-variant--color' title="{{this.label}}" style="background-color: #{{data.[0]}}"></span>
                    {{/if}}
                {{/if}}
            {{/if}}
        </label>
    {{/each}}
    {{#if this.values.length '>' 4}}
        <a href="{{url}}" class="showmore">+{{toFixed (subtract this.values.length 4) 0}}</a>
    {{/if}}
</div>