<ul id="azBrandsTable" class="azBrands-table">
    <li data-letter="all" class="all-letter is-active"><a href="#">All</a></li>
    <li data-letter="0" class="disable"><a href="#azBrands-code-0" data-href="0">#</a></li>
    <li data-letter="a" class="disable"><a href="#azBrands-code-a" data-href="a">a</a></li>
    <li data-letter="b" class="disable"><a href="#azBrands-code-b" data-href="b">b</a></li>
    <li data-letter="c" class="disable"><a href="#azBrands-code-c" data-href="c">c</a></li>
    <li data-letter="d" class="disable"><a href="#azBrands-code-d" data-href="d">d</a></li>
    <li data-letter="e" class="disable"><a href="#azBrands-code-e" data-href="e">e</a></li>
    <li data-letter="f" class="disable"><a href="#azBrands-code-f" data-href="f">f</a></li>
    <li data-letter="g" class="disable"><a href="#azBrands-code-g" data-href="g">g</a></li>
    <li data-letter="h" class="disable"><a href="#azBrands-code-h" data-href="h">h</a></li>
    <li data-letter="i" class="disable"><a href="#azBrands-code-i" data-href="i">i</a></li>
    <li data-letter="j" class="disable"><a href="#azBrands-code-j" data-href="j">j</a></li>
    <li data-letter="k" class="disable"><a href="#azBrands-code-k" data-href="k">k</a></li>
    <li data-letter="l" class="disable"><a href="#azBrands-code-l" data-href="l">l</a></li>
    <li data-letter="m" class="disable"><a href="#azBrands-code-m" data-href="m">m</a></li>
    <li data-letter="n" class="disable"><a href="#azBrands-code-n" data-href="n">n</a></li>
    <li data-letter="o" class="disable"><a href="#azBrands-code-o" data-href="o">o</a></li>
    <li data-letter="p" class="disable"><a href="#azBrands-code-p" data-href="p">p</a></li>
    <li data-letter="q" class="disable"><a href="#azBrands-code-q" data-href="q">q</a></li>
    <li data-letter="r" class="disable"><a href="#azBrands-code-r" data-href="r">r</a></li>
    <li data-letter="s" class="disable"><a href="#azBrands-code-s" data-href="s">s</a></li>
    <li data-letter="t" class="disable"><a href="#azBrands-code-t" data-href="t">t</a></li>
    <li data-letter="u" class="disable"><a href="#azBrands-code-u" data-href="u">u</a></li>
    <li data-letter="v" class="disable"><a href="#azBrands-code-v" data-href="v">v</a></li>
    <li data-letter="w" class="disable"><a href="#azBrands-code-w" data-href="w">w</a></li>
    <li data-letter="x" class="disable"><a href="#azBrands-code-x" data-href="x">x</a></li>
    <li data-letter="y" class="disable"><a href="#azBrands-code-y" data-href="y">y</a></li>
    <li data-letter="z" class="disable"><a href="#azBrands-code-z" data-href="z">z</a></li>
</ul>
<div id="azBrands" class="azBrands active-all">
    <div class="loadingOverlay"></div>
    <div class="azBrands-group" data-letter="0" id="azBrands-code-0">
        <h3 class="azBrands-group-title">#</h3>
        <ul class="azBrands-group-list brandList"></ul>
    </div>
    <div class="azBrands-group" data-letter="a" id="azBrands-code-a">
        <h3 class="azBrands-group-title">a</h3>
        <ul class="azBrands-group-list brandList"></ul>
    </div>
    <div class="azBrands-group" data-letter="b" id="azBrands-code-b">
        <h3 class="azBrands-group-title">b</h3>
        <ul class="azBrands-group-list brandList"></ul>
    </div>
    <div class="azBrands-group" data-letter="c" id="azBrands-code-c">
        <h3 class="azBrands-group-title">c</h3>
        <ul class="azBrands-group-list brandList"></ul>
    </div>
    <div class="azBrands-group" data-letter="d" id="azBrands-code-d">
        <h3 class="azBrands-group-title">d</h3>
        <ul class="azBrands-group-list brandList"></ul>
    </div>
    <div class="azBrands-group" data-letter="e" id="azBrands-code-e">
        <h3 class="azBrands-group-title">e</h3>
        <ul class="azBrands-group-list brandList"></ul>
    </div>
    <div class="azBrands-group" data-letter="f" id="azBrands-code-f">
        <h3 class="azBrands-group-title">f</h3>
        <ul class="azBrands-group-list brandList"></ul>
    </div>
    <div class="azBrands-group" data-letter="g" id="azBrands-code-g">
        <h3 class="azBrands-group-title">g</h3>
        <ul class="azBrands-group-list brandList"></ul>
    </div>
    <div class="azBrands-group" data-letter="h" id="azBrands-code-h">
        <h3 class="azBrands-group-title">h</h3>
        <ul class="azBrands-group-list brandList"></ul>
    </div>
    <div class="azBrands-group" data-letter="i" id="azBrands-code-i">
        <h3 class="azBrands-group-title">i</h3>
        <ul class="azBrands-group-list brandList"></ul>
    </div>
    <div class="azBrands-group" data-letter="j" id="azBrands-code-j">
        <h3 class="azBrands-group-title">j</h3>
        <ul class="azBrands-group-list brandList"></ul>
    </div>
    <div class="azBrands-group" data-letter="k" id="azBrands-code-k">
        <h3 class="azBrands-group-title">k</h3>
        <ul class="azBrands-group-list brandList"></ul>
    </div>
    <div class="azBrands-group" data-letter="l" id="azBrands-code-l">
        <h3 class="azBrands-group-title">l</h3>
        <ul class="azBrands-group-list brandList"></ul>
    </div>
    <div class="azBrands-group" data-letter="m" id="azBrands-code-m">
        <h3 class="azBrands-group-title">m</h3>
        <ul class="azBrands-group-list brandList"></ul>
    </div>
    <div class="azBrands-group" data-letter="n" id="azBrands-code-n">
        <h3 class="azBrands-group-title">n</h3>
        <ul class="azBrands-group-list brandList"></ul>
    </div>
    <div class="azBrands-group" data-letter="o" id="azBrands-code-o">
        <h3 class="azBrands-group-title">o</h3>
        <ul class="azBrands-group-list brandList"></ul>
    </div>
    <div class="azBrands-group" data-letter="p" id="azBrands-code-p">
        <h3 class="azBrands-group-title">p</h3>
        <ul class="azBrands-group-list brandList"></ul>
    </div>
    <div class="azBrands-group" data-letter="q" id="azBrands-code-q">
        <h3 class="azBrands-group-title">q</h3>
        <ul class="azBrands-group-list brandList"></ul>
    </div>
    <div class="azBrands-group" data-letter="r" id="azBrands-code-r">
        <h3 class="azBrands-group-title">r</h3>
        <ul class="azBrands-group-list brandList"></ul>
    </div>
    <div class="azBrands-group" data-letter="s" id="azBrands-code-s">
        <h3 class="azBrands-group-title">s</h3>
        <ul class="azBrands-group-list brandList"></ul>
    </div>
    <div class="azBrands-group" data-letter="t" id="azBrands-code-t">
        <h3 class="azBrands-group-title">t</h3>
        <ul class="azBrands-group-list brandList"></ul>
    </div>
    <div class="azBrands-group" data-letter="u" id="azBrands-code-u">
        <h3 class="azBrands-group-title">u</h3>
        <ul class="azBrands-group-list brandList"></ul>
    </div>
    <div class="azBrands-group" data-letter="v" id="azBrands-code-v">
        <h3 class="azBrands-group-title">v</h3>
        <ul class="azBrands-group-list brandList"></ul>
    </div>
    <div class="azBrands-group" data-letter="w" id="azBrands-code-w">
        <h3 class="azBrands-group-title">w</h3>
        <ul class="azBrands-group-list brandList"></ul>
    </div>
    <div class="azBrands-group" data-letter="x" id="azBrands-code-x">
        <h3 class="azBrands-group-title">x</h3>
        <ul class="azBrands-group-list brandList"></ul>
    </div>
    <div class="azBrands-group" data-letter="y" id="azBrands-code-y">
        <h3 class="azBrands-group-title">y</h3>
        <ul class="azBrands-group-list brandList"></ul>
    </div>
    <div class="azBrands-group" data-letter="z" id="azBrands-code-z">
        <h3 class="azBrands-group-title">z</h3>
        <ul class="azBrands-group-list brandList"></ul>
    </div>
</div>