<!-- BEGIN ASK AN EXPERT BUTTON -->
<button type="button" data-reveal-id="halo-ask-an-expert-form">
   <img class="animated bounceInRight" src="/product_images/uploaded_images/ask-an-expert.png" alt="Ask An Expert" />
   <span>ASK AN EXPERT</span>
</button>
<!-- END ASK AN EXPERT BUTTON -->

<!-- BEGIN ASK AN EXPERT MODAL -->
<div id="halo-ask-an-expert-form" class="modal" data-reveal>
   <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
      <span aria-hidden="true"><svg><use xlink:href="#icon-close"></use></svg></span>
   </a>
   <div class="modal-content">
      <div class="modal-header">
         <h2 class="modal-header-title">Ask An Expert</h2>
      </div>
      <div class="modal-body">
         <div id="contact_results"></div>
         <div class="form-inner">
            <h3>Ask the Luxury Watches Expert anything <br> on thewatchesshop.com</h3>
            <div class="sub-title">We’ll follow up with you via email within 24-48 hours</div>
            <div class="sub-title-question">Please answer the following Questionnaire</div>
            <form class="form" id="contact_form">
               <fieldset class="form-fieldset">
                  <div class="form-field">
                     <input required="true" type="text" class="form-input" name="customer_name" placeholder="Your Name" value="{{customer.name}}">
                  </div>
                  <div class="form-field">
                     <input required="true" type="text" class="form-input" name="customer_email" placeholder="Email Address" value="{{customer.email}}">
                  </div>
                  <div class="form-field">
                     <input required="true" type="text" class="form-input" name="customer_phone" placeholder="Phone Number" value="{{customer.phone}}">
                  </div>
                  <div class="form-field">
                     <label class="form-label">Do you need:</label>
                     <input class="form-radio" id="pricing-radio" type="radio" name="type_package" checked value="Pricing">
                     <label class="form-label" for="pricing-radio">Pricing</label>
                     <input class="form-radio" id="answers-radio" type="radio" name="type_package" value="Answers">
                     <label class="form-label" for="answers-radio">Answers</label>
                     <input class="form-radio" id="both-radio" type="radio" name="type_package" value="Pricing & Answers">
                     <label class="form-label" for="both-radio">Both</label>
                  </div>
                  <div class="form-field">
                     <label class="form-label" for="comment-area">What can i help you with today ?</label>
                     <textarea name="message" cols="30" rows="3" class="form-input" id="comment-area" required="true"></textarea>
                  </div>
                  <div class="form-field">
                     <label class="form-label label-last">How would you like me to contact you ?</label>
                     <input class="form-radio" id="phone-radio" type="radio" name="type_contact" checked value="Phone">
                     <label class="form-label" for="phone-radio">Phone</label>
                     <input class="form-radio" id="email-radio" type="radio" name="type_contact" value="Email">
                     <label class="form-label" for="email-radio">Email</label>
                     <input class="form-radio" id="both-radio-2" type="radio" name="type_contact" value="Phone & Email">
                     <label class="form-label" for="both-radio-2">Both</label>
                  </div>
                  <div class="form-field">
                      <label class="form-label" for="ContentPlaceHolder1_txtinputCapcha">Security code</label>
                      <br>
                      <input id="ContentPlaceHolder1_txtinputCapcha" required="true" type="text" class="form-input" name="captcha" style="width: 100px;display: inline-block;vertical-align: top;" />
                      <canvas id="myCanvas" width="150" height="35" style="border:1px solid #d3d3d3;color: #ffffff; background: #dddddd;"></canvas>
                      <span onclick="ChangeCaptcha()" style="cursor: pointer;margin: 5px;display: inline-block;vertical-align: top;">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 487.23 487.23" style="enable-background:new 0 0 487.23 487.23;" xml:space="preserve">
                                        <g>
                                          <g>
                                            <path d="M55.323,203.641c15.664,0,29.813-9.405,35.872-23.854c25.017-59.604,83.842-101.61,152.42-101.61    c37.797,0,72.449,12.955,100.23,34.442l-21.775,3.371c-7.438,1.153-13.224,7.054-14.232,14.512    c-1.01,7.454,3.008,14.686,9.867,17.768l119.746,53.872c5.249,2.357,11.33,1.904,16.168-1.205    c4.83-3.114,7.764-8.458,7.796-14.208l0.621-131.943c0.042-7.506-4.851-14.144-12.024-16.332    c-7.185-2.188-14.947,0.589-19.104,6.837l-16.505,24.805C370.398,26.778,310.1,0,243.615,0C142.806,0,56.133,61.562,19.167,149.06    c-5.134,12.128-3.84,26.015,3.429,36.987C29.865,197.023,42.152,203.641,55.323,203.641z" style="fill: rgb(0, 0, 0);"></path>
                                            <path d="M464.635,301.184c-7.27-10.977-19.558-17.594-32.728-17.594c-15.664,0-29.813,9.405-35.872,23.854    c-25.018,59.604-83.843,101.61-152.42,101.61c-37.798,0-72.45-12.955-100.232-34.442l21.776-3.369    c7.437-1.153,13.223-7.055,14.233-14.514c1.009-7.453-3.008-14.686-9.867-17.768L49.779,285.089    c-5.25-2.356-11.33-1.905-16.169,1.205c-4.829,3.114-7.764,8.458-7.795,14.207l-0.622,131.943    c-0.042,7.506,4.85,14.144,12.024,16.332c7.185,2.188,14.948-0.59,19.104-6.839l16.505-24.805    c44.004,43.32,104.303,70.098,170.788,70.098c100.811,0,187.481-61.561,224.446-149.059    C473.197,326.043,471.903,312.157,464.635,301.184z" style="fill: rgb(0, 0, 0);"></path>
                                          </g>
                                        </g>
                                        </svg></span>
                      <input id="ContentPlaceHolder1_txtCapcha" type="hidden" />
                  </div>
                  <button type="button" class="btn btn-primary fasubmit btn-send-form">Send Question</button>
               </fieldset>
            </form>
         </div>
      </div>
   </div>
</div>
<!-- END ASK AN EXPERT MODAL -->

<script>
function ChangeCaptcha() {
   var chars= "1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";
   var string_length = 6;
   var ChangeCaptcha = '';
   for (var i=0; i<string_length; i++) {
     var rnum = Math.floor(Math.random() * chars.length);
     ChangeCaptcha+= chars.substring(rnum, rnum+1);
   }
   document.getElementById('ContentPlaceHolder1_txtCapcha').value = ChangeCaptcha;
   document.getElementById('ContentPlaceHolder1_txtinputCapcha').value = '';
   var c = document.getElementById("myCanvas");
   var ctx = c.getContext("2d");
   ctx.font = "26px Arial";
   var gradient=ctx.createLinearGradient(0,0,c.width,0);
   gradient.addColorStop("0","magenta");
   gradient.addColorStop("0.5","blue");
   gradient.addColorStop("1.0","red");
   // Fill with gradient
   ctx.strokeStyle=gradient;
   ctx.clearRect(0, 0, c.width, c.height);
   ctx.strokeText(ChangeCaptcha,15,25);
 }

 function checkCaptcha() {
   if (document.getElementById('ContentPlaceHolder1_txtinputCapcha').value == document.getElementById('ContentPlaceHolder1_txtCapcha').value) {
     return true;
   } else {
     alert('Pleace re-check the captcha!');
     ChangeCaptcha();
     return false;
   }
}

$(document).ready(function($) {

   ChangeCaptcha();

   $(".btn-send-form").click(function() {

      var ask_proceed = true;
      //simple validation at client's end
      //loop through each field and we simply change border color to red for invalid fields
      $("#contact_form input[required=true], #contact_form textarea[required=true]").each(function() {
         if (!$.trim($(this).val())) { //if this field is empty
            $(this).parent('.form-field').removeClass('form-field--success').addClass('form-field--error');
            ask_proceed = false; //set do not proceed flag
         } else {
            $(this).parent('.form-field').removeClass('form-field--error').addClass('form-field--success');
         }
         //check invalid email
         var email_reg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
         if ($(this).attr("name") == "customer_email" && !email_reg.test($.trim($(this).val()))) {
            $(this).parent('.form-field').removeClass('form-field--success').addClass('form-field--error');
            ask_proceed = false; //set do not proceed flag
         }
      });

      if(ask_proceed){
        ask_proceed = checkCaptcha();
        if(!ask_proceed){
          $("#ContentPlaceHolder1_txtinputCapcha").parent('.form-field').removeClass('form-field--success').addClass('form-field--error');
        }
      }

      if (ask_proceed) //everything looks good! proceed...
      {

         //get input field values data to be sent to server
         ask_post_data = {
            'api': 'i_send_mail',
            'subject': 'ASK AN EXPERT',
            'from_name': 'HaloThemes',
            'email': 'demo.halothemes@gmail.com',
            'email_from': $('#contact_form input[name=customer_email]').val(),
            'message': '<h2>ASK AN EXPERT</h2><table>\
                  <tr><td><strong>Your Name</strong></td><td>' + $('#contact_form input[name=customer_name]').val() + '</td></tr>\
                  <tr><td><strong>Email Address</strong></td><td>' + $('#contact_form input[name=customer_email]').val() + '</td></tr>\
                  <tr><td><strong>Phone Number</strong></td><td>' + $('#contact_form input[name=customer_phone]').val() + '</td></tr>\
                  <tr><td><strong>How would you like me to contact you ?</strong></td><td>' + $('#contact_form input[name=type_contact]:checked').val() + '</td></tr>\
                  <tr><td><strong>Do you need</strong></td><td>' + $('#contact_form input[name=type_package]:checked').val() + '</td></tr>\
                  <tr><td><strong>What can i help you with today ?</strong></td><td>' + $('#contact_form textarea[name=message]').val() + '</td></tr>\
               </table>'
         };

         //Ajax post data to server
         $.post('https://themevale.net/tools/sendmail/quotecart/sendmail.php', ask_post_data, function(response) {
            if (response.type == 'error') { //load json data from server and output message
               output = '<div class="error">' + response.text + '</div>';
            } else {
               output = '<div class="alert alert-success">Thank you. We\'ve received your feedback and will respond shortly.</div>';
               //reset values in all input fields
               $("#contact_form  input[required=true], #contact_form textarea[required=true]").val('');
               $(".form-inner").hide(); //hide form after success
            }
            $("#contact_results").hide().html(output).show();
         }, 'json');
      }
   });

   //reset previously set border colors and hide all message on .keyup()
   $("#contact_form input[required=true], #contact_form textarea[required=true]").keyup(function() {
      if (!$.trim($(this).val())) { //if this field is empty
         $(this).parent('.form-field').removeClass('form-field--success').addClass('form-field--error');
         ask_proceed = false; //set do not proceed flag
      } else {
         $(this).parent('.form-field').removeClass('form-field--error').addClass('form-field--success');
      }
      //check invalid email
      var email_reg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
      if ($(this).attr("name") == "customer_email" && !email_reg.test($.trim($(this).val()))) {
         $(this).parent('.form-field').removeClass('form-field--success').addClass('form-field--error');
         ask_proceed = false; //set do not proceed flag
      }
      $("#contact_results").hide();
   });
});
</script>
