<div class="view-mode-btn">
    <label class="view-as">VIEW AS</label>
    <div class="btn-group">
        <a href="javascript:void(0);" id="grid-view" title="Grid View" class="{{#if theme_settings.product_list_display_mode '===' 'grid'}} current-view {{/if}}">
            <div>
                <div class="icon-bar"></div>
                <div class="icon-bar"></div>
                <div class="icon-bar"></div>
            </div>
        </a>
        <a href="javascript:void(0);" id="list-view" title="List View" class="{{#if theme_settings.product_list_display_mode '===' 'list'}} current-view {{/if}}">
            <div>
                <div class="icon-bar"></div>
                <div class="icon-bar"></div>
                <div class="icon-bar"></div>
            </div>
        </a>
    </div>
</div>
