<div class="quickShopWrap">
    <div class="productView">
      <div class="productView-options">
          <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data"
                data-cart-item-add data-product-id="{{product.id}}">
              <input type="hidden" name="action" value="add">
              <input type="hidden" name="product_id" value="{{product.id}}"/>

              <div class="quickShopInner">
                <p class="quickShop-title"><span>Please select</span></p>
                <div data-product-option-change2 style="display:none;">
                    {{#each product.options}}
                        {{{dynamicComponent 'components/products/options'}}}
                    {{/each}}
                </div>

                {{#if product.can_purchase}}
                  <div class="form-field form-field--increments increments-quickShop">
                      <label class="form-label form-label--alternate"
                             for="qty[]">{{lang 'products.quantity'}}</label>

                      <div class="form-increment" data-quantity-change>
                          <button class="button button--icon" data-action="dec">
                              <span class="is-srOnly">{{lang 'products.quantity_decrease'}}</span>
                              <i class="fa fa-angle-down"></i>
                          </button>
                          <input class="form-input form-input--incrementTotal"
                                 id="{{product.id}}-qty[]"
                                 name="qty[]"
                                 type="tel"
                                 value="{{#if product.min_purchase_quantity}}{{product.min_purchase_quantity}}{{else}}1{{/if}}"
                                 data-quantity-min="{{product.min_purchase_quantity}}"
                                 data-quantity-max="{{product.max_purchase_quantity}}"
                                 min="1"
                                 pattern="[0-9]*"
                                 aria-live="polite">
                          <button class="button button--icon" data-action="inc">
                              <span class="is-srOnly">{{lang 'products.quantity_increase'}}</span>
                              <i class="fa fa-angle-up"></i>
                          </button>
                      </div>
                  </div>
                {{/if}}
              </div>
              <div class="form-action-block">
                {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                  <div class="form-action addToCart">
                      <input class="form-action-addToCart button" data-wait-message="{{lang 'products.adding_to_cart'}}" class="button button--primary" type="submit" value="{{#if product.pre_order}}{{lang 'products.pre_order'}}{{else}}Submit{{/if}}">
                  </div>
                {{/or}}
                <div class="themevale_close">
                    <a href="javascript:void(0)" class="icon-close">Cancel</a>
                </div>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>
