<div id="sideBannerImage" class="sidebarBlock">
    <a href="{{theme_settings.side_custom_block_link}}" aria-label="Custom CMS Image"><img  class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.side_custom_block_img}}" alt="Custom CMS Image"></a>
</div>

<div id="sideCustomCMS" class="sidebarBlock">
    <h5 class="side-module-heading"><span>{{theme_settings.side_custom_block_title}}</span></h5>
    <div class="side-cms-content">
        <p>{{theme_settings.side_custom_block_content_1}}{{theme_settings.side_custom_block_content_1_1}}{{theme_settings.side_custom_block_content_1_2}}</p>
        <p>{{theme_settings.side_custom_block_content_2}}{{theme_settings.side_custom_block_content_2_1}}</p>
    </div>
</div>

