<div class="product-pagination top">
    {{> components/halothemes/sidebar-toggle-mobile layout_sidebar="slide"}}
    {{> components/halothemes/product-display-mode-buttons}}
    {{> components/products/filter sort=pagination.category.sort}}
</div>

<form action="{{urls.compare}}" method='POST' {{#if settings.data_tag_enabled}} data-list-name="Category: {{category.name}}" {{/if}} data-product-compare>
    {{#if theme_settings.product_list_display_mode '===' 'grid'}}
        {{#if settings.data_tag_enabled}}
            {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings columns=theme_settings.categorypage_products_column_count productsnew=../products.new event="list"}}
        {{else}}
            {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings columns=theme_settings.categorypage_products_column_count productsnew=../products.new}}
        {{/if}}
    {{else}}
        {{#if settings.data_tag_enabled}}
            {{> components/products/list products=category.products show_compare=category.show_compare theme_settings=theme_settings columns=theme_settings.categorypage_products_column_count productsnew=../products.new event="list"}}
        {{else}}
            {{> components/products/list products=category.products show_compare=category.show_compare theme_settings=theme_settings columns=theme_settings.categorypage_products_column_count productsnew=../products.new}}
        {{/if}}
    {{/if}}
</form>

<div class="product-pagination bottom" data-total_products="{{category.total_products}}">
    {{#if category.show_compare}}
    <div class="compare-link">
        <a class="btn btn-alt" href="{{urls.compare}}" data-compare-nav aria-label="Compare Button"><span class="compare-text">{{lang 'products.compare'}}</span><span class="countPill countPill--positive countPill--alt"></span></a>
    </div>
    {{/if}}

</div>
