<a href="javascript:void(0);" data-reveal-id="modal-size-chart-form" aria-label="Open Modal Size Chart">
    <svg aria-hidden="true"><use xlink:href="#icon-size-chart"></use></svg>
    Size Chart
</a>
<div id="modal-size-chart-form" class="modal" data-reveal>
    <div class="modal-header">
        <p class="decs-header">Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis de cosmo risus. Sedcus faucibus an sullamcorper mattis...</p>
        <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
            <span aria-hidden="true"><svg><use xlink:href="#icon-close"></use></svg></span>
        </a>
    </div>
    <div class="modal-body" style="padding: 0;">
        <div class="text-center">
            <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="{{value}}" alt="{{name}}">
        </div>
    </div>
</div>
