<section class="productCarousel owl-carousel"
    data-list-name="{{list}}"
    data-owl='{
        "nav": true,
        "dots": false,
        "items": {{columns}},
        "margin": 30,
        "slideBy": {{columns}},
        "responsive": {
         "0": {
            "items": 2,
            "slideBy": 2,
            "margin": 20
         },
         "480": {
            "items": 2,
            "slideBy": 2
         },
         "641": {
            "items": 3,
            "slideBy": 3
         },
         "768": {
            "items": 3,
            "slideBy": 3
         },
         "992": {
            "items": 4,
            "slideBy": 4,
            "margin": 30
         },
         "1200": {
            "items": {{columns}},
            "slideBy": {{columns}},
            "margin": 30
         }
      },
      "responsiveRefreshRate": 0
    }'>
    {{#each products}}
    <div class="prod-item {{#if theme_settings.halothemes_lazy_loading_effect}}wow fadeIn{{/if}}" data-wow-delay="{{@index}}ms" data-product-id="{{id}}">
        {{> components/products/card theme_settings=../theme_settings customer=../customer productsnew=../productsnew settings=../settings event="list" position=(add @index 1)}}
    </div>
    {{/each}}
</section>
